.burger{
  text-align: center;
  &-container{
    padding: 10rem 0 6rem;
    @include respond(tab-port) {
      padding: 10rem 0 0rem;
    }
    @include respond(phone){
      padding: 10rem 0 6rem;
    }
    & .container{
      @include respond(tab-port) {
        width: 85%;
      }
    }    
    & .col-4{
      @include respond(tab-port) {
        width: 46%; // Col-6
        margin-bottom: 5rem;
      }
      @include respond(phone) {
        width: 96%;
        margin-bottom: 2rem;
      }    
    }
  }
  &_hero{
    border: 1px solid #eee;
    position: relative;
    padding: 10px 0 10px 10px;
  }
  &_price{
    display: inline-block;
    background-color: #4d2c21;
    color: #feda5e;
    padding: 9px 30px 9px 10px;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    letter-spacing: 2px;
    &-subscript{
      font-size: 12px;
      position: absolute;
      top:5px;
    }
  }
  &_image{
    overflow: hidden;
    width: 98%;
  }
  &_title{
    font-family: "Rubik", sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &_content{
    padding: 25px 0px 15px;
  }
  &_details{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  &_icon{
    position: absolute;
    right: 5%;
    bottom: 3%;
    font-size: 2.5rem;
    font-weight: 300;
    cursor: pointer;
    &:hover{
      color: #a5102e;
    }
  }
  &_order{
    font-weight:300;
    font-size:1.6rem;
    border-radius: 90rem !important;
    padding: 0.5rem 2.2rem;
    border-color: #333 !important;
    text-align: center;
    text-transform: uppercase;
    border:0.2rem solid #e8e8e8;
    margin-top: 1rem;
  }
}

