@import "../layout/base";
@import "../layout/footer";
@import "../components/menu";
@import "../components/burger";
@import "../components/product-menu";

header{
  background-image: url(../../image/back-contacts-title-burger2.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: relative;
  @media (min-height: 62.5em) and (max-width: 75em) {
    height: 60vh;
  }
  @media (max-height: 42.5em) and (max-width: 22.5em) {
    height: 120vh;
  }

}
