@import "../layout/base";
@import "../components/menu";
@import "../layout/footer";
@import "../components/product-menu";

.burger-menu-wrapper {
  height: 30vh;
  width: 100%;
  background-color: #a5102e;
}

.burger-content-wrapper{
  height: 30vh;
  width: 100%;
  background-color: #eee;
}