/*
    Breakpoint argument choices
    1em = 16px
    - phone: 600px
    - tab-port: 900px
    - tab-land: 1200px
    - desktop: 1400px
    - big-desktop: 1800px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

@media (max-width: 37.5em) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 87.5em) {
  html {
    font-size: 58%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

a {
  text-decoration: none;
  color: #333;
}

.primary-heading {
  text-align: center;
  font-size: 4.8rem !important;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.3em;
}

@media (max-width: 87.5em) {
  .primary-heading {
    font-size: 3.5rem !important;
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 37.5em) {
  .primary-heading {
    font-size: 2.5rem !important;
    margin-bottom: 1.2rem;
  }
}

.secondary-heading {
  color: #fff;
  font-weight: 300;
  font-size: 1.9rem;
  text-align: center;
}

@media (max-width: 87.5em) {
  .secondary-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 37.5em) {
  .secondary-heading {
    font-size: 1.4rem;
  }
}

.tertiary-heading {
  font-weight: 600;
  font-size: 2.8rem;
  padding: 0rem 0rem 3rem 0rem;
}

.button {
  border: 0;
  background-color: #ca0930;
  color: #fff;
  border-radius: 2em;
  font-size: 1.4rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.button:hover {
  background-color: #333;
}

.hero-content {
  color: #fff;
  text-align: center;
  font-family: "Rubik";
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}

@media (min-height: 62.5em) {
  .hero-content {
    top: 45%;
  }
}

@media (min-height: 62.5em) and (max-width: 75em) {
  .hero-content {
    top: 70%;
  }
}

@media (max-height: 40em) and (max-width: 25em) {
  .hero-content {
    top: 80%;
  }
}

@media (max-width: 56.25em) {
  .hero-content {
    width: 80%;
  }
}

@media (max-width: 37.5em) {
  .hero-content {
    margin: 2rem 0 0;
    width: 90%;
  }
}

@media (max-height: 42.5em) and (max-width: 22.5em) {
  .hero-content {
    top: 65%;
  }
}

.hero-content_breadcrumb {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.hero-content_title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 5.5rem;
  padding: 3rem 2rem;
}

@media (max-width: 37.5em) {
  .hero-content_title {
    font-size: 4rem;
    padding: 2rem 1rem;
  }
}

@media (max-height: 40em) and (max-width: 25em) {
  .hero-content_title {
    font-size: 3rem;
  }
}

.hero-content_text {
  font-size: 2.1rem;
  font-weight: 300;
  margin: 0 auto;
}

@media (max-width: 37.5em) {
  .hero-content_text {
    font-size: 1.6rem;
  }
}

.para-title {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 5rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .para-title {
    font-size: 2rem;
  }
}

.para-title span {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #ca0930;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  color: #fff;
}

@media (max-width: 37.5em) {
  .para-title span {
    margin-right: 1rem;
  }
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  list-style: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_item {
  display: inline-block;
  margin: 1rem;
}

@media (max-width: 37.5em) {
  .menu_item {
    margin: .8rem;
  }
}

.menu_item-phone {
  display: none;
}

@media (max-width: 37.5em) {
  .menu_item-phone {
    display: block;
    text-align: center;
  }
}

.menu_link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media (max-width: 37.5em) {
  .menu_link {
    font-size: 1.3rem;
  }
}

@media (max-height: 42.5em) and (max-width: 22.5em) {
  .menu_link {
    font-size: 1.2rem;
  }
}

@media (max-width: 37.5em) {
  #menu_logo {
    display: none;
  }
}

#logo {
  width: 10rem;
  margin: 0 5rem;
}

.menu_box {
  background-color: #a5102e;
  -webkit-box-shadow: 0 0px 30px 0 #0000001f;
          box-shadow: 0 0px 30px 0 #0000001f;
  position: absolute;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #fff !important;
}

@media (max-width: 37.5em) {
  .menu_box {
    position: static;
    text-align: center;
    margin: 2rem 0;
  }
}

.menu_icon {
  color: #fff !important;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.menu_icon:hover {
  color: #ffb100;
}

.callbox_title {
  text-align: center;
  font-size: 1rem;
  font-weight: 250;
  margin: 0 auto;
}

.callbox_main-title {
  font-size: 1.6rem;
  font-weight: 200;
  padding: 0.5rem 0.3rem;
}

.footer {
  background-color: #a5102e;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20px;
}

.footer_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.footer_ending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0 2rem;
}

@media (max-width: 37.5em) {
  .footer_ending {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer_terms {
  color: white;
  margin: 10px 10px 20px 5px;
  text-align: center;
  font-weight: 200;
}

.footer_icon-wrapper {
  text-align: center;
}

.footer_image-burger {
  width: 250px;
}

.footer_icon {
  padding: 0 .5rem;
  font-size: 2rem !important;
}

header {
  background-image: url(../../image/back-contacts-title-burger.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.address {
  color: black;
  padding: 50px 10px 5px 10px;
  font-size: 40px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

form {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.Yorder {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.title {
  background: -webkit-gradient(linear, left top, right bottom, from(#5195A8), to(#70EAFF));
  background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
  border-radius: 5px 5px 0 0;
  padding: 20px;
  color: #f6f6f6;
}

h2 {
  margin: 0;
  padding-left: 15px;
}

.required {
  color: red;
}

label, table {
  display: block;
  margin: 15px;
}

label > span {
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}

input[type="text"], input[type="tel"], input[type="email"], select {
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}

select {
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.Yorder {
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}

table {
  margin: 0;
  padding: 0;
}

th {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}

tr > td:nth-child(1) {
  text-align: left;
  color: #2d2d2a;
}

tr > td:nth-child(2) {
  text-align: right;
  color: #52ad9c;
}

td {
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

p {
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}

.Yorder > div {
  padding: 15px 0;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: #428a7d;
}
/*# sourceMappingURL=orderPlace.css.map */